.hero {

  background: url("./ADPHA-team.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  position:relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}



.hero-text-background {
  width: 40%;
  height: 60%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin-right: 600px;
  margin-top: 0;
}

.hero h1 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.5rem;
}



.cta-button {
  background-color: #ff6347;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: #e5533d;
}

.about-us-button {
  background-color: #ff6347;
  color: white;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;

}

.about-us-button:hover {
  background-color: #e5533d;
}


@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  

  .hero-text-background {
    width: 80%;
    height: 50%;
    margin-right: 0;
    margin-top: 100px;

}
}












/* .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background: #f8f8f8;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  gap: 2rem;
  width: 100%;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #0056b3;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.btn-primary {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #0056b3;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn-primary:hover {
  background: #003c82;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    width: 80%;
  }
} */
